body {
    background-color: gray;
}

.navbar-light-hcht {
    background-color: whitesmoke;
}
.h5{
    color: red;
}
/* .cajaizq {
    display: flex;
    align-items:center;
    text-align: left;
}
.cajader {
    display: flex;
    text-align: right;
    padding: 10px;
} */
.box1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
}

.cajaizq {
    display: flex;
    align-items: center;
}

.cajader {
    padding: 10px;
}
